<mat-drawer-container>
    <mat-drawer width="500px" position="end" [opened]="isDrawerOpened$ | async">
        <app-signup-dialog (onCloseSignupForm)="onCloseSignupForm()"></app-signup-dialog>
    </mat-drawer>
<mat-drawer-content>
<div class="welcome-container">
    <div class="banner-container">
        <div class="logo">
            <h1>Megabytes</h1>
            <h2>See the world</h2>
        </div>
    </div>
    <div class="cta-container">
        <h2 class="text-3xl font-bold">Log in</h2>
        <div class="login-form">
            <form [formGroup]="loginForm" (submit)="onSubmit()">
                <div class="input-container">
                    <label for="username">Username</label>
                    <input type="text" name="username" matInput formControlName="username">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input matInput name="password" formControlName="password" type="password">
                    <a href="#">forgot password?</a>
                </div>
                <!-- <input type="submit" value="Log in"> -->
                <app-generic-button
                [loading$]="loading$"
                [title]="'Login'"></app-generic-button>
            </form>
            <div class="signup-container">
                Haven't registered yet?
                <span class="cta"  (click)="toggleDrawer()">Signup now!</span>
            </div>
        </div>
    </div>
</div>

</mat-drawer-content>
</mat-drawer-container>