<div class="welcome-container">
    <div class="banner-container">
        <div class="logo">
            <h1>Megabytes</h1>
            <h2>See the world</h2>
        </div>
    </div>
    <div class="cta-container">
        <h2>Log in</h2>
        <div class="login-form">
            <form [formGroup]="ctaForm">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" name="email" matInput formControlName="email">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input matInput name="password" formControlName="password" type="password">
                    <a href="">forgot password?</a>
                </div>
                <input type="submit" value="Log in">
                <div class="signup-container">
                    Haven't registered yet?
                    <span class="cta">
                        <a href="#" (click)="openDialog()">Signup now!</a> </span>
                </div>
            </form>
        </div>
    </div>
</div>