<mat-drawer-container>
    <mat-drawer width="500px" position="end" [opened]="isDrawerOpened$ | async">
        <app-signup></app-signup>
    </mat-drawer>
<mat-drawer-content>
        <div class="welcome-container">
    <div class="banner-container">
        <div class="logo">
            <h1>Megabytes</h1>
            <h2>See the world</h2>
        </div>
    </div>
    <div class="cta-container">
        <h2>Log in</h2>
        <div class="login-form">
            <form [formGroup]="ctaForm">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" name="email" matInput formControlName="email">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input matInput name="password" formControlName="password" type="password">
                    <a href="#">forgot password?</a>
                </div>
                <input type="submit" value="Log in">
            </form>
            <div class="signup-container">
                Haven't registered yet?
                <span class="cta"  (click)="toggleDrawer()">Signup now!</span>
            </div>
        </div>
    </div>
</div>

</mat-drawer-content>
</mat-drawer-container>