.button-spinner {
    left: 45%
}

button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(7,7,7);
    width: 100%;
    color: white;
    border-radius: 5px;
}