.post-container {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  max-width: 720px;
  margin: 1rem auto;

  .author-details {
    display: flex;

    .author-image,
    .author-name {
      margin: 0.5rem;
    }
  }

  .content {
    font-size: 1rem;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: end;
    padding: 0.5rem 0.5rem 0 0.5rem;

    .upvote,
    .downvote {
      margin: 0.3rem;
      height: 25px;
      width: 25px;
      padding: 0.2rem;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .downvote {
      img {
        rotate: 180deg;
      }
    }

    .comments {
      flex-grow: 1;
      text-align: center;

      .comments-icon {
        transform: scaleX(-1);
      }

      .comments-icon,
      span {
        padding: 0.5rem;
      }
    }
  }
}
