<div class="post-container">
    <div class="author-details">
        <div class="author-image">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="author-name">Lorem ipsum</div>
        </div>
        <div class="content">
            <h2 class="title">Occaecat labore voluptate</h2>
            <p class="description">Qui minim dolor esse ullamco ex id mollit et laborum nostrud commodo anim culpa.</p>
        </div>
        <div class="actions">
            <div class="vote">
                <img class="upvote" src="../../../../assets/images/vote-arrow.svg" alt="">
                <img class="downvote" src="../../../../assets/images/vote-arrow.svg" alt="">
            </div>
            <div class="comments">
                <mat-icon class="comments-icon">chat</mat-icon>
                <span>comments</span>
            </div>
        </div>
</div>