<div class="post-container">
    <div class="author-details">
        <div class="author-image">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="author-name">{{post.author?.name}}</div>
        </div>
        <div class="content">
            <p class="description">{{ post.message }}</p>
        </div>
        <div class="actions">
            <div class="vote">
                <img class="upvote" src="../../../../assets/images/vote-arrow.svg" alt="">
                <img class="downvote" src="../../../../assets/images/vote-arrow.svg" alt="">
            </div>
            <div class="comments">
                <mat-icon class="comments-icon">chat</mat-icon>
                <span>comments</span>
            </div>
        </div>
</div>