.header-section {
    padding: 1rem;
    display: flex;
    place-content: space-between;
    background-color: white;

    .logo-container {
        a {
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    }

    .menu-icon {
        cursor: pointer;
    }

    nav {
        position: fixed;
        height: 50px;
        width: 66%;
        top: 0;
        right: 0;
        padding: 1rem;
        background-color: #20272E;
        // color: white;
        z-index: 999;

        .close-menu {
            float: right;
            margin: 1rem;
            cursor: pointer;
        }
    }

    .nav-list {
        margin-top: 5rem;
        display: block;

        li {
            font-style: none;
            list-style-type: none;
            margin: 1.5rem 1rem;
            text-align: right;
            font-size: 1.2rem;

            a {
                color: white;
                text-decoration: none;
            }

            .profile-toggle:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .header-section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .menu-icon {
            display: none;
        }
        nav {
            width: 100%;
            background: none;
            margin: 0;

            .nav-list {
                display: flex;
                margin: 0;
                justify-content: flex-end;
                li {
                    margin: 0 1rem;
                }

                a {
                    font-size: 1rem;
                    color: black;
                }
            }

            .close-menu {
                display: none;
            }
        }
    }
}
