.header-section {
    padding: 1rem;
    display: flex;
    place-content: space-between;
    background-color: white;

    .logo-container {
        a {
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    }

    .menu-icon {
        cursor: pointer;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 66%;
        top: 0;
        right: 0;
        padding: 1rem;
        background-color: #20272E;
        color: white;
        z-index: 999;

        .close-menu {
            float: right;
            margin: 1rem;
            cursor: pointer;
        }
    }

    .nav-list {
        margin-top: 5rem;
        display: block;

        li {
            font-style: none;
            list-style-type: none;
            margin: 1.5rem 1rem;
            text-align: right;
            font-size: 1.2rem;

            a {
                color: white;
                text-decoration: none;
            }

        }
    }
}
