<div class="signup-container">
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="">
            <mat-form-field floatLabel="never" class="input-container">
                <mat-label>First Name</mat-label>
                <input matInput type="text"/>
            </mat-form-field>
            <mat-form-field floatLabel="never" class="input-container">
                <mat-label for="lastName">Last Name</mat-label>
                <input matInput name="lastName" />
            </mat-form-field>
            <mat-form-field floatLabel="never" class="input-container">
                <mat-label for="username">Username</mat-label>
                <input matInput name="username" />
            </mat-form-field>
            <mat-form-field floatLabel="never" class="input-container">
                <mat-label for="email">Email</mat-label>
                <input matInput type="email" name="email" />
            </mat-form-field>
            <mat-form-field floatLabel="never" class="input-container">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" name="password" />
            </mat-form-field>
        </form>
    </div>
</div>