.signup-container {
    width: 30vw;
    height: 100vh;
    .close-button {
        font-size: 30px;
        height: 30px;
        width: 30px;
        float: right;
        cursor: pointer;
    }

    .signup-form {
        background-color: white;
        padding: 3rem;
        border-radius: 5px;
        height: 100vh;
        form {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            
            button {
                margin-top: 1rem;
                padding: 0.5rem;
                font-size: 1rem;
                background-color: rgb(7,7,7);
            }
        }
        h2 {
            width: 100%;
            text-align: center;
        }

        .input-container {
            margin: 0.2rem;
        }
    }
}

.button-spinner {
    left: 45%;
}