<div class="signup-container">
    <div class="signup-form">
        <form action="">
            <div class="input-container">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName">
            </div>
            <div class="input-container">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName">
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
        </form>
    </div>
</div>